<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar >
    <ion-title>
      <div class="banner-t">
        <p>Conecta 4</p>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-title>
          <h5 class="title-s">Scanner</h5>
        </ion-title>
        <div class="text">
          <h5>
            Bienvenido Alumno "NOMBRE" a el Proyecto QR, acá usted podrá <ion-text color="primary">escanear</ion-text> 
            el <ion-text color="success">QR</ion-text> generado por el docente a cargo y asi registrar su asistencia 
            <ion-text color="danger">automaticamente</ion-text>.
          </h5>
          <h5>Presione la cámara para escanear</h5>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <div class="footer-copy">
    Lorem ipsum dolor sit amet.
  </div>
</ion-footer>