// Fondo
ion-content.background{
    --background: url(../../assets/img/vector-neblosa-chica.jpg) 30% 50% no-repeat;
}

//Banner
ion-content{
    --background: none;
  
    .texto{
      font-family: fantasy;
      font-style: inherit;
      font-variant: small-caps;
      font-size: 50px;
      font-weight: bold;
      color: whitesmoke;
      text-align: center;
      margin-top: 80px;
    }
}

//Botones
.btns{
    display: flex;
    flex-direction: column;
    margin: 10px;
    justify-content: center;
    ion-button{
        ion-icon{
            margin-right: 5px;
        }
    }
}

//Footer
ion-footer{
    .footer-copy {
        color: whitesmoke;
        text-align: center;
        font-weight: bold;
        font-variant: small-caps;
        font-style: oblique;
    }
}