// Fondo
ion-content.background{
    --background: url(../../assets/img/vector-neblosa-chica.jpg) 30% 50% no-repeat;
}

//Banner
ion-content{
    --background: none;
  
    ion-title{
      padding: 0px 50px 50px 50px;
      font-family: fantasy;
      font-style: inherit;
      font-variant: small-caps;
      font-size: 50px;
      font-weight: bold;
      color: whitesmoke;
      text-align: center;
      margin-top: 95px;
    }
}

//Footer
ion-footer{
    .footer-copy {
        color: whitesmoke;
        text-align: center;
        font-weight: bold;
        font-variant: small-caps;
        font-style: oblique;
    }
}