<ion-content [fullscreen]="true"  class="background">
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="texto">
          <p>
            Página <br> en <br> Mantenimiento. <br> <br> Lamentamos <br> las <br> Molestias.
          </p>
        </div>
        <div class="btns">
          <ion-button color="primary"><ion-icon name="exit-outline"></ion-icon> Volver</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <div class="footer-copy">
    <p>Shumma Apps © 2022 - 2022</p>
  </div>
</ion-footer>